* {
    font-family: Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-family: Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 30px;
    text-align: center;
    font-family: Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    text-align: center;
    font-size: 20px;
    font-family: Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey
}

img {
    display: block;
    margin:auto;
    width: 15%;
    height: auto;
}

video {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;  
    object-fit: cover;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.button_format {
    margin-top: 20px;
    margin-left: auto;
    border: none;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

/* Style for Main Page */
.title{
    margin-left: 5px;
    text-align: left;
}

.video_container{
    position: relative;
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 55vh;
    overflow: hidden;
}

.video_slides {
  position: absolute; /* key: take it out of normal flow */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.6s ease-in-out;
}

.video1 {
    z-index: 1;
    opacity: 1;
}

.video2 {
    z-index: 0;
    opacity: 0;
}

.overlay{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:white;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    z-index: 2;
}

.features_box{
    background-color: #cce7ff;
    border-radius: 10px;
    width: 20rem;
    height: 25rem;
}

.features_box img{
    width: 40%;
}

.features_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 1em;
    
}

.submit_button{
    display: flex;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color:darkblue;
    height: 50%;
    opacity: 0.7;
    transition: 0.3s;
}

.submit_button:hover{
    opacity: 1;
}

.bottom_div{
    background-color: #171c3d;
    border: 0;
    margin: 0;
}

.bottom_div_txt{
    color: white;
    font-size: 18px;
}

/* Style for Profile Page */
.toggle {
    background: none;
    border: none;
    color: #2f3899;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    align-self: flex-end;
}

.sidebar{
    display: flex;
    flex-direction: column;
    height: 75%;
    width: 175px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    border-radius: 15px;
    background-color: rgb(211, 226, 240);
    overflow-x:hidden;
    transition: width 0.5s ease;
}

.sidebar_bottom{
    margin-top: auto;
}

.sidebar a{
    display: flex;
    align-items: center;
    color: #2f3899;
    padding: 8px 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    white-space: nowrap;
    transition: all 0.5s ease;
}

.sidebar a:hover{
    background-color: #2f3899;
    color: white;
}

.sidebar.collapsed {
    width: 60px;
}

.sidebar.collapsed span {
    display: none;
}

.sidebar.collapsed a{
    justify-content: center;
}

.sidebar.collapsed ~ .content {
    margin-left: 50px;
    padding-left: 5px;
}

.icon {
    display: inline-flex;
    vertical-align: middle;
    transform-origin: center;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    margin: 0px 5px 2px 5px;
}

.content{
    margin-left: 200px;
    padding-left: 20px;
    transition: margin-left 0.3s ease;
}

.content_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
    transition: margin-left 0.3s ease;
}

.content_grid img{
    width: 50%;
    height: auto;
    object-fit: cover;
    min-width: 100px;
}

.hidden {
    display: none;
}

h3.budget_font{
    font-size: 25px;
}

p.budget_font{
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
}

.extra_fields {
    max-height: 0;
    transition: max-height 0.5s ease, opacity 2s ease;
}

.extra_fields.active {
    opacity: 1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.fa-arrows-rotate {
    color: #2f3899;
}

.change_button {
    background-color: #a8bfe3f2;
    display: flex;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2f3899;
    height: 40px;
    transition: 0.5s ease;
}

.change_button:hover {
    background-color: #2f3899;
    color: white;
}

.change_button:hover .icon{
    animation: spin 1.5s linear infinite;
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e8b938;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.disabled_button {
    opacity: 0.4;
    pointer-events: none;
    cursor: not-allowed;
}

.popup_banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
    padding: 12px 0;
    z-index: 9999;
    opacity: 0;
    transform: translateY(130%);
    transition: all 0.4s ease-in-out;
}

.popup_banner.active {
    opacity: 1;
    transform: translateY(0);
}

.popup_banner.hidden {
    display: none;
}

.popup_txt {
    color: white;
}

.confirmation {
    background-color: #1aba25;
}

.warning {
    background-color: #f5a953;
}

