h1{
    font-size: 40px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    text-align: center;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey
}

img{
    display: block;
    margin:auto;
    width: 15%;
    height: auto;
}

video{
    width: 100%;
    height: 100%;  
    object-fit: cover;
}

.video_container{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.overlay{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 99.5%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:white;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 20px;

}

.button1{
    display: flex;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color:darkblue;
    margin-left: auto;
    border: none;
    border-radius: 12px;
    padding: 10px;
    opacity: 0.6;
    transition: 0.3s;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.button1:hover{
    opacity: 1;
}

.bottom_div{
    background-color: #171c3d;
    border: 0;
    margin: 0;
}

.sidebar{
    display: flex;
    flex-direction: column;
    height: 75%;
    width: 175px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    border-radius: 15px;
    background-color: rgb(211, 226, 240);
    overflow-x:hidden;
}

.sidebar_bottom{
    margin-top: auto;
}

.sidebar a{
    display: block;
    color: #2f3899;
    padding: 8px 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.sidebar a:hover{
    background-color: #2f3899;
    color: white;
}

.content{
    margin-left: 200px;
    padding-left:20px;
}
